<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
       <key>NSCameraUsageDescription</key>
       <string>需要使用相機來拍攝患部照片進行記錄，或拍攝個人大頭照。</string>
       <key>NSPhotoLibraryUsageDescription</key>
       <string>需要存取相簿以選取患部照片進行分析，或從照片中挑選大頭照。</string>
       <key>NSMicrophoneUsageDescription</key>
       <string>錄製影片紀錄時需要使用麥克風。</string>

       <key>NSUserTrackingUsageDescription</key>
       <string>此識別碼將用於向您投放個人化廣告，提供更佳的內容體驗。</string>

       <key>SKAdNetworkItems</key>
       <array>
          <dict><key>SKAdNetworkIdentifier</key><string>cstr6suwn9.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>4fzdc2evr5.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>2fnua5tdw4.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>ydx93a7ass.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>5a6flpkh64.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>p78axxw29g.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>v72qych5uu.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>ludvb6z3bs.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>cp8zw746q7.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>c6k4g5qg8m.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>s39g8k73mm.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>3qy4746246.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>3sh42y64q3.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>f38h382jlk.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>hs6bdukanm.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>prcb7njmu6.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>v4nxqhlyqp.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>wzmmz9fp6w.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>yclnxrl5pm.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>t38b2kh725.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>7ug5zh24hu.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>9rd848q2bz.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>n6fk4nfna4.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>kbd757ywx3.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>9t245vhmpl.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>4468km3ulz.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>2u9pt9hc89.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>8s468mfl3y.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>av6w8kgt66.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>klf5c3l5u5.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>ppxm28t8ap.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>424m5254lk.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>uw77j35x4d.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>578prtvx9j.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>4dzt52r2t5.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>e5fvkxwru5.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>8c4e2ghe7u.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>zq492l623r.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>3rd42ekr43.skadnetwork</string></dict>
          <dict><key>SKAdNetworkIdentifier</key><string>3952ybc5zh.skadnetwork</string></dict>
       </array>

       <key>CFBundleURLTypes</key>
       <array>
          <dict>
             <key>CFBundleTypeRole</key>
             <string>Editor</string>
             <key>CFBundleURLSchemes</key>
             <array>
                <string>com.googleusercontent.apps.xxxxxxxxxxxx-xxxxxxxxxxxx</string>
             </array>
          </dict>
       </array>

       <key>CFBundleDisplayName</key>
       <string>CareSync 健康隨行</string>
       <key>CFBundleName</key>
       <string>CareSync</string>
       <key>CFBundleIdentifier</key>
       <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
       <key>CFBundleShortVersionString</key>
       <string>$(FLUTTER_BUILD_NAME)</string>
       <key>CFBundleVersion</key>
       <string>$(FLUTTER_BUILD_NUMBER)</string>
       <key>LSRequiresIPhoneOS</key>
       <true/>
       <key>UILaunchStoryboardName</key>
       <string>LaunchScreen</string>
       <key>UIMainStoryboardFile</key>
       <string>Main</string>

       <key>GADApplicationIdentifier</key>
       <string>ca-app-pub-6250825906693072~9672849885</string>
       <key>io.flutter.embedded_views_preview</key>
       <true/>

       <key>UIStatusBarHidden</key>
       <true/>
       <key>UIViewControllerBasedStatusBarAppearance</key>
       <false/>
    </dict>
</plist>